<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/css/sell.css}" href="css/table.css" type="text/css"/>
</head>
<body>
<div class="form-style-5">
    <form th:action="@{/admin/add}" th:method="post">
        <fieldset>
            <legend><span class="number">1</span> Book Info</legend>
            <input type="text" name="title" placeholder="Title *" required="required"/>
            <input type="text" name="author" placeholder="Author *" required="required"/>
            <input type="text" name="genre" placeholder="Genre *" required="required"/>
            <input type="text" name="quantity" placeholder="Stock *"  required="required" pattern="[0-9]+"/>
            <input type="text" name="price" placeholder="Price *"  required="required" pattern="[+-]?([0-9]*[.])?[0-9]+"/>
            <input type="submit" value="Apply" />
        </fieldset>
    </form>
</div>
<script src="js/edit.js"></script>
</body>
</html>